In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('2-r.txt')
data

       C  Cu
0      0  67
1      0  56
2      2  47
3      4  62
4      2  61
5      4  61
6      2  59
7      4  73
8      5  68
9      4  51
10     4  71
11     4  58
12     4  66
13     4  43
14     6  60
15     4  50
16     4  65
17     4  67
18     0  59
19     5  65
20     9  42
21     4  51
22     3  66
23     9  69
24     2  69
25     4  76
26     7  61
27     6  66
28     1  60
29     2  52
..   ...  ..
226  105   4
227  115   3
228  110   3
229   93   6
230   87   7
231   86   5
232   85   9
233  102   6
234   79  11
235   63   7
236   89   5
237   69  13
238   74   5
239   59   7
240   47   8
241   67  11
242   79   9
243   58  18
244   59   5
245   71   7
246   79   9
247   78  11
248   91   8
249   68  18
250   72   8
251   73   8
252   91  11
253   60  10
254   58   6
255   69  11

[256 rows x 2 columns]

In [4]:
data.to_csv('data.csv')